{% extends 'layout.html' %} {% block body %}

<div class="card">
    <h5 class="card-header">Chat Room</h5>
    <div class="card-body message_holder"></div>
    <form action="" method="POST">
        <div class="card-footer text-muted">
            <div class="input-group mb-3">
                <input type="text" class="message form-control" placeholder="Message">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">SEND</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src='/static/chat.js'></script>

{% endblock %}